* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.instagram-wrapper {
  display: flex; /*alinha os itens em linha usando o espaço do conteiner*/
  align-items: center; /*alinha os itens em vertical eixo Y*/
  justify-content: start; /*alinha os itens em horizontal eixo Y*/
  width: 60%;
  height: 100vh;
}
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.instagram-phone img {
  height: 50rem;
}
.instagram-continue {
  display: flex;
  align-items: center; /*está na horizontal agora*/
  justify-content: space-around; /*está na vertical agora por conta do flex-direction*/
  flex-direction: column; /*ficar 1 embaixo do outro */
  width: 50%;
  min-height: 34rem;
}
.group {
  display: flex;
  justify-content: space-between; /*espaço entre os itens na horizontal*/
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
.group:nth-child(first) {
  min-height: 19rem;
}
.instagram-logo {
  height: 3rem;
}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo img {
  height: 6rem;
}
.instagram-login {
  background-color: #0095f6;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin-top: 1rem;
}
.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}
.not-account {
  color: rgb(160, 160, 160);
}
.link-blue {
  color: #0095f6;
}
.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}
.app-download:nth-child(1) {
  background-image: url(img/apple-button.png);
}
.app-download:nth-child(2) {
  background-image: url(img/googleplay-button.png);
}
/* media queries */
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}
@media (max-width: 650px) {
  body {
    background-color: #fff;
  }
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}
